In [ ]:
# Importamos librerias 
import pandas as pd
import numpy as np
import streamlit as st

df = pd.read_csv('data/inventario_central_v2.csv')
print(df.head())
sku_id = 'SKU_ID'
categoria = 'Categoria'
stock_actual = 'Stock_Actual'
lead_time_dias = 'Lead_Time_Dias'
ultima_revision = 'Ultima_Revision'
costo_unitario = 'Costo_Unitario_USD'
punto_reorden = 'Punto_Reorden'
bodega = 'Bodega_Origen'
columnas = df.columns.tolist()
print("Columnas del DataFrame:", columnas)

2026-02-08 22:16:03.125 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 22:16:03.267
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Code\validacion-casos-prueba\.venv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2026-02-08 22:16:03.267 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2026-02-08 22:16:03.268 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

      SKU_ID    Categoria  Stock_Actual  Costo_Unitario_USD  Punto_Reorden  \
0  PROD-1000  smart-phone           NaN              870.38            259
1  PROD-1001   Accesorios         476.0             1397.26            169
2  PROD-1002    Monitores        1209.0              611.62            214
3  PROD-1003  smart-phone        1825.0              145.94            187
4  PROD-1004  Smartphones        1713.0               77.78            105

  Lead_Time_Dias Bodega_Origen Ultima_Revision
0     25-30 días         Norte      2025-11-17
1     25-30 días         Norte      2024-03-05
2              5           Sur      2024-06-21
3             10           Sur      2025-01-07
4              5           Sur      2024-07-04
Columnas del DataFrame: ['SKU_ID', 'Categoria', 'Stock_Actual', 'Costo_Unitario_USD', 'Punto_Reorden', 'Lead_Time_Dias', 'Bodega_Origen', 'Ultima_Revision']

In [35]:
# Realizamos una revision de los tipos de variables 
print(df.dtypes)

SKU_ID                 object
Categoria              object
Stock_Actual          float64
Costo_Unitario_USD    float64
Punto_Reorden           int64
Lead_Time_Dias         object
Bodega_Origen          object
Ultima_Revision        object
dtype: object

In [36]:
# Stock actual es un float64, pero deberia ser un entero. Procedemos a convertir la variable
valores_invalidos = df[~df['Stock_Actual'].apply(float.is_integer)]
valores_invalidos[valores_invalidos['Stock_Actual'].notnull()].shape
#Se revisa si hay valores invalidos en la columna Stock_Actual, la conclusion es que todos los valores 
# son nulos, por ello no se puede hacer la conversion

(0, 8)

In [37]:
# Revisamos cuantos nulos hay en cada columna
print(df.isnull().sum())

SKU_ID                  0
Categoria               0
Stock_Actual          100
Costo_Unitario_USD      0
Punto_Reorden           0
Lead_Time_Dias        403
Bodega_Origen           0
Ultima_Revision         0
dtype: int64

In [38]:
#Revisemos las estadisticas descriptivas de la columna Stock_Actual
print(df['Stock_Actual'].describe())

count    2400.000000
mean      995.487083
std       597.689734
min       -50.000000
25%       481.000000
50%       987.000000
75%      1523.250000
max      1998.000000
Name: Stock_Actual, dtype: float64

In [39]:
#Hagamos el remplazo de nulos por la moda
df_moda_stock = df.copy()
moda_stock_actual = df_moda_stock['Stock_Actual'].mode()[0]
df_moda_stock['Stock_Actual'].fillna(moda_stock_actual, inplace=True)
df_moda_stock['Stock_Actual'] = df_moda_stock['Stock_Actual'].astype(int)
df_moda_stock['Stock_Actual'] = df_moda_stock['Stock_Actual'].abs()
df_moda_stock['Stock_Actual'].describe()

count    2500.000000
mean      981.314000
std       588.429884
min         0.000000
25%       507.000000
50%       947.500000
75%      1501.000000
max      1998.000000
Name: Stock_Actual, dtype: float64

In [40]:
df_mediana_stock = df.copy()
mediana_stock_actual = df_mediana_stock['Stock_Actual'].median()
df_mediana_stock['Stock_Actual'].fillna(mediana_stock_actual, inplace=True)
df_mediana_stock['Stock_Actual'] = df_mediana_stock['Stock_Actual'].astype(int)
df_mediana_stock['Stock_Actual'] = df_mediana_stock['Stock_Actual'].abs()
df_mediana_stock['Stock_Actual'].describe()

count    2500.000000
mean      996.354000
std       583.555685
min         0.000000
25%       507.000000
50%       987.000000
75%      1501.000000
max      1998.000000
Name: Stock_Actual, dtype: float64

In [41]:
df_promedio_stock = df.copy()
promedio_stock_actual = df_promedio_stock['Stock_Actual'].mean()
df_promedio_stock['Stock_Actual'].fillna(promedio_stock_actual, inplace=True)
df_promedio_stock['Stock_Actual'] = df_promedio_stock['Stock_Actual'].astype(int)
df_promedio_stock['Stock_Actual'] = df_promedio_stock['Stock_Actual'].abs()
df_promedio_stock['Stock_Actual'].describe()

count    2500.00000
mean      996.67400
std       583.55266
min         0.00000
25%       507.00000
50%       995.00000
75%      1501.00000
max      1998.00000
Name: Stock_Actual, dtype: float64

In [42]:
#Revisemos cuantos valores distintos hay en la columna lead_time_dias
print(df['Lead_Time_Dias'].value_counts())

Lead_Time_Dias
25-30 días    454
Inmediato     433
10            419
5             399
3             392
Name: count, dtype: int64

In [43]:
df['Lead_Time_Dias'].describe()

count           2097
unique             5
top       25-30 días
freq             454
Name: Lead_Time_Dias, dtype: object

In [44]:
df['Ultima_Revision'].describe()
df['Ultima_Revision'] = pd.to_datetime(df['Ultima_Revision'], errors='coerce')
print(df['Ultima_Revision'].describe())

count                             2500
mean     2025-02-18 14:00:23.040000256
min                2024-03-04 00:00:00
25%                2024-08-24 00:00:00
50%                2025-02-23 12:00:00
75%                2025-08-13 00:00:00
max                2026-01-31 00:00:00
Name: Ultima_Revision, dtype: object

In [45]:
df[categoria].value_counts()

Categoria
Laptops        329
Monitores      327
Smartphones    314
Tablets        309
Accesorios     307
smart-phone    306
???            305
LAPTOP         303
Name: count, dtype: int64

In [46]:
df[df[categoria]=='???']
df[categoria].isnull().sum()

np.int64(0)

In [47]:
# Remplazamos categorias iguales con distinto nombre
df[categoria] = df[categoria].replace({'LAPTOP':'Laptops',
                                       'smart-phone':'Smartphones'})
df[categoria].value_counts()

Categoria
Laptops        632
Smartphones    620
Monitores      327
Tablets        309
Accesorios     307
???            305
Name: count, dtype: int64

In [48]:
categorias_unicas = df[categoria].unique()
print("Categorías únicas en la columna 'Categoria':", categorias_unicas)

Categorías únicas en la columna 'Categoria': ['Smartphones' 'Accesorios' 'Monitores' '???' 'Tablets' 'Laptops']

In [49]:
df[costo_unitario].describe()

count      2500.000000
mean       1105.788816
std       16989.836953
min           0.050000
25%         403.652500
50%         755.175000
75%        1125.292500
max      850000.000000
Name: Costo_Unitario_USD, dtype: float64

In [50]:
df[[costo_unitario, categoria]].groupby(categoria).describe()
medidas_catg = {}
for categoria_unica in categorias_unicas:
    moda = df[df[categoria] == categoria_unica][costo_unitario].mode()[0]
    mediana = df[df[categoria] == categoria_unica][costo_unitario].median()
    promedio = df[df[categoria] == categoria_unica][costo_unitario].mean()
    std = df[df[categoria] == categoria_unica][costo_unitario].std()
    medidas_catg[categoria_unica] = {'Moda': moda, 'Mediana': mediana, 'Promedio': promedio}

print(medidas_catg)

{'Smartphones': {'Moda': np.float64(126.6), 'Mediana': np.float64(798.325), 'Promedio': np.float64(2154.525870967742)}, 'Accesorios': {'Moda': np.float64(51.61), 'Mediana': np.float64(759.12), 'Promedio': np.float64(780.9722475570032)}, 'Monitores': {'Moda': np.float64(50.33), 'Mediana': np.float64(717.52), 'Promedio': np.float64(755.6253822629968)}, '???': {'Moda': np.float64(1230.86), 'Mediana': np.float64(775.84), 'Promedio': np.float64(775.4479016393442)}, 'Tablets': {'Moda': np.float64(58.97), 'Mediana': np.float64(715.99), 'Promedio': np.float64(726.600420711974)}, 'Laptops': {'Moda': np.float64(880.52), 'Mediana': np.float64(758.22), 'Promedio': np.float64(760.7387341772152)}}

In [51]:
df[[categoria, costo_unitario]]

        Categoria  Costo_Unitario_USD
0     Smartphones              870.38
1      Accesorios             1397.26
2       Monitores              611.62
3     Smartphones              145.94
4     Smartphones               77.78
...           ...                 ...
2495          ???              910.57
2496   Accesorios              354.67
2497      Tablets              218.68
2498  Smartphones             1456.67
2499   Accesorios               81.87

[2500 rows x 2 columns]

In [52]:
# Creamos una copia del DataFrame para trabajar con los valores atípicos de costo_unitario


# Definimos umbrales fijos para detección de valores anormales
LIMITE_SUPERIOR = 10000
LIMITE_INFERIOR = 30

# Identificamos y reemplazamos valores atípicos por categoría
valores_reemplazados_altos = 0
valores_reemplazados_bajos = 0

for categoria_unica in categorias_unicas:
    # Identificamos valores que superan el límite superior
    mask_outliers_altos = (df[categoria] == categoria_unica) & (df[costo_unitario] > LIMITE_SUPERIOR)
    num_outliers_altos = mask_outliers_altos.sum()
    
    # Identificamos valores que están por debajo del límite inferior
    mask_outliers_bajos = (df[categoria] == categoria_unica) & (df[costo_unitario] < LIMITE_INFERIOR)
    num_outliers_bajos = mask_outliers_bajos.sum()
    
    # Obtenemos la moda de la categoría
    moda_categoria = medidas_catg[categoria_unica]['Moda']
    
    if num_outliers_altos > 0:
        # Reemplazamos valores altos con la moda
        df.loc[mask_outliers_altos, costo_unitario] = moda_categoria
        valores_reemplazados_altos += num_outliers_altos
        print(f"{categoria_unica}: {num_outliers_altos} valores > ${LIMITE_SUPERIOR} reemplazados con moda = ${moda_categoria:.2f}")
    
    if num_outliers_bajos > 0:
        # Reemplazamos valores bajos con la moda
        df.loc[mask_outliers_bajos, costo_unitario] = moda_categoria
        valores_reemplazados_bajos += num_outliers_bajos
        print(f"{categoria_unica}: {num_outliers_bajos} valores < ${LIMITE_INFERIOR} reemplazados con moda = ${moda_categoria:.2f}")

print(f"\n{'='*50}")
print(f"Total de valores altos (> ${LIMITE_SUPERIOR}) reemplazados: {valores_reemplazados_altos}")
print(f"Total de valores bajos (< ${LIMITE_INFERIOR}) reemplazados: {valores_reemplazados_bajos}")
print(f"Total general: {valores_reemplazados_altos + valores_reemplazados_bajos}")
print(f"\nEstadísticas después de la limpieza:")
print(df[costo_unitario].describe())

Smartphones: 1 valores > $10000 reemplazados con moda = $126.60
Smartphones: 1 valores < $30 reemplazados con moda = $126.60

==================================================
Total de valores altos (> $10000) reemplazados: 1
Total de valores bajos (< $30) reemplazados: 1
Total general: 2

Estadísticas después de la limpieza:
count    2500.000000
mean      765.890076
std       418.762633
min        50.040000
25%       403.187500
50%       754.740000
75%      1124.287500
max      1499.220000
Name: Costo_Unitario_USD, dtype: float64

In [53]:
# Reemplazamos valores "???" en la columna categoria basados en la mediana más cercana
df = df.copy()

# Calculamos la mediana de costo_unitario para cada categoría válida (excluyendo "???")
categorias_validas = [cat for cat in categorias_unicas if cat != '???']
medianas_por_categoria = {}

for cat in categorias_validas:
    mediana_cat = df[df[categoria] == cat][costo_unitario].median()
    medianas_por_categoria[cat] = mediana_cat

print("Medianas de costo_unitario por categoría:")
for cat, med in medianas_por_categoria.items():
    print(f"  {cat}: ${med:.2f}")

# Identificamos filas con categoria "???"
mask_desconocidos = df[categoria] == '???'
num_desconocidos = mask_desconocidos.sum()

print(f"\nTotal de registros con categoria '???': {num_desconocidos}")

# Reemplazamos cada "???" con la categoría cuya mediana esté más cercana
reemplazos_realizados = {}

for idx in df[mask_desconocidos].index:
    costo_valor = df.loc[idx, costo_unitario]
    
    # Encontramos la categoría con la mediana más cercana
    categoria_asignada = min(medianas_por_categoria.keys(), 
                            key=lambda cat: abs(medianas_por_categoria[cat] - costo_valor))
    
    # Reemplazamos la categoría
    df.loc[idx, categoria] = categoria_asignada
    
    # Contabilizamos los reemplazos
    reemplazos_realizados[categoria_asignada] = reemplazos_realizados.get(categoria_asignada, 0) + 1

print("\nCategorías asignadas a los registros '???' :")
for cat, count in reemplazos_realizados.items():
    print(f"  {cat}: {count} registros")

print(f"\nDistribución de categorías después del reemplazo:")
print(df[categoria].value_counts())

Medianas de costo_unitario por categoría:
  Smartphones: $795.02
  Accesorios: $759.12
  Monitores: $717.52
  Tablets: $715.99
  Laptops: $758.22

Total de registros con categoria '???': 305

Categorías asignadas a los registros '???' :
  Smartphones: 152 registros
  Tablets: 142 registros
  Monitores: 5 registros
  Laptops: 3 registros
  Accesorios: 3 registros

Distribución de categorías después del reemplazo:
Categoria
Smartphones    772
Laptops        635
Tablets        451
Monitores      332
Accesorios     310
Name: count, dtype: int64

In [54]:
df[lead_time_dias].isnull().sum()

np.int64(403)

In [55]:
df[lead_time_dias].value_counts()

Lead_Time_Dias
25-30 días    454
Inmediato     433
10            419
5             399
3             392
Name: count, dtype: int64

In [56]:
# Reemplazamos valores textuales de lead_time_dias con valores numéricos
# Usamos tanto 'dias' como 'días' para cubrir ambos casos
df[lead_time_dias] = df[lead_time_dias].replace({
    '25-30 dias': 27,
    '25-30 días': 27,
    'Inmediato': 0
})

# Convertimos a int, manejando posibles NaN con fillna
df[lead_time_dias] = pd.to_numeric(df[lead_time_dias], errors='coerce')
df[lead_time_dias] = df[lead_time_dias].fillna(df[lead_time_dias].median()).astype(int)

print(f"Conversión completada.")
print(f"Valores únicos: {sorted(df[lead_time_dias].unique())}")
print(f"\nDistribución:")
print(df[lead_time_dias].value_counts().sort_index())
df[lead_time_dias].isnull().sum()

Conversión completada.
Valores únicos: [np.int64(0), np.int64(3), np.int64(5), np.int64(10), np.int64(27)]

Distribución:
Lead_Time_Dias
0     433
3     392
5     802
10    419
27    454
Name: count, dtype: int64

np.int64(0)

In [57]:
print(df[punto_reorden].describe())
print(df[punto_reorden].value_counts())
print(df[punto_reorden].isnull().sum())
df[punto_reorden] = df[punto_reorden].astype(int)

count    2500.000000
mean      198.046400
std        57.182355
min       100.000000
25%       150.000000
50%       195.500000
75%       246.000000
max       299.000000
Name: Punto_Reorden, dtype: float64
Punto_Reorden
176    24
156    21
188    21
130    21
260    20
       ..
104     6
144     6
242     6
216     5
273     4
Name: count, Length: 200, dtype: int64
0

In [58]:
df[punto_reorden].describe()

count    2500.000000
mean      198.046400
std        57.182355
min       100.000000
25%       150.000000
50%       195.500000
75%       246.000000
max       299.000000
Name: Punto_Reorden, dtype: float64

In [59]:
df[bodega].describe()

count      2500
unique        6
top       norte
freq        437
Name: Bodega_Origen, dtype: object

In [60]:
df[bodega].value_counts()

Bodega_Origen
norte          437
Sur            436
BOD-EXT-99     424
ZONA_FRANCA    408
Norte          407
Occidente      388
Name: count, dtype: int64

In [61]:
df[bodega] = df[bodega].str.upper().str.strip()
df[bodega].value_counts()

Bodega_Origen
NORTE          844
SUR            436
BOD-EXT-99     424
ZONA_FRANCA    408
OCCIDENTE      388
Name: count, dtype: int64

In [62]:
# Analizamos la distribución de bodegas por categoría
print("="*60)
print("BODEGAS ORIGEN POR CATEGORÍA")
print("="*60)

for cat in sorted(df[categoria].unique()):
    bodegas = df[df[categoria] == cat][bodega].value_counts()
    print(f"\n{cat}:")
    for bod, count in bodegas.items():
        print(f"  {bod}: {count} registros")

# También podemos verlo como tabla cruzada
print("\n" + "="*60)
print("TABLA CRUZADA: Categoría vs Bodega")
print("="*60)
tabla_cruzada = pd.crosstab(df[categoria], df[bodega], margins=True)
print(tabla_cruzada)

============================================================
BODEGAS ORIGEN POR CATEGORÍA
============================================================

Accesorios:
  NORTE: 119 registros
  SUR: 54 registros
  BOD-EXT-99: 51 registros
  OCCIDENTE: 49 registros
  ZONA_FRANCA: 37 registros

Laptops:
  NORTE: 223 registros
  SUR: 117 registros
  ZONA_FRANCA: 106 registros
  OCCIDENTE: 95 registros
  BOD-EXT-99: 94 registros

Monitores:
  NORTE: 117 registros
  BOD-EXT-99: 64 registros
  SUR: 61 registros
  OCCIDENTE: 49 registros
  ZONA_FRANCA: 41 registros

Smartphones:
  NORTE: 245 registros
  BOD-EXT-99: 140 registros
  ZONA_FRANCA: 136 registros
  SUR: 128 registros
  OCCIDENTE: 123 registros

Tablets:
  NORTE: 140 registros
  ZONA_FRANCA: 88 registros
  SUR: 76 registros
  BOD-EXT-99: 75 registros
  OCCIDENTE: 72 registros

============================================================
TABLA CRUZADA: Categoría vs Bodega
============================================================
Bodega_Origen  BOD-EXT-99  NORTE  OCCIDENTE  SUR  ZONA_FRANCA   All
Categoria
Accesorios             51    119         49   54           37   310
Laptops                94    223         95  117          106   635
Monitores              64    117         49   61           41   332
Smartphones           140    245        123  128          136   772
Tablets                75    140         72   76           88   451
All                   424    844        388  436          408  2500

In [63]:
df['Stock_Actual'] = df['Stock_Actual'].abs()

In [ ]:
df.to_csv('data/inventario_central_limpio.csv', index=False)

: